<div class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light p-1">
      <div class="container">
  
        <a class="navbar-brand" href="#inicio">
          <img
            src="https://images-ext-1.discordapp.net/external/QZxD1tpQZn_89mu2qI7HebbuRnR5re3OPPz_ErShvDk/https/i.imgur.com/gemBYE8.png"
            alt="..." class="img-fluid" width="50rem">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link text-black" href='#inicio'>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href='#sobre-nos'>Sobre-nos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href='#contato'>Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="#equipe">Equipe</a>
            </li>
          </ul>
  
          <ul class="navbar-nav d-flex align-items-end mt-2">
            <li class="nav-item">
              <a class="nav-link-custom text-white" routerLink='/entrar'>Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-custom border-cadastro" routerLink='/cadastrar'>Cadastrar</a>
            </li>
          </ul>
        </div>
  
      </div>
    </nav>
  </div>