<div class="container-fluid p-2">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink='/feed'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/sobre-nos'>Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/contato'>Contato</a>
    </li>
    <li class="nav-item ml-5">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      </form>
    </li>
  </ul>
</div>
