<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary mt-5">Atualizar Postagem</h1>
        </div>

    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div class="modal-body">


                <div class="form-group">
                    <label for="texto">

                        <div class="d-flex align-items-center">
                            Escolha um tema ou
                            <button type="button" class="btn btn-link px-1" data-bs-dismiss="modal" routerLink='/tema'>
                                cadastre um novo:
                            </button>
                        </div>

                    </label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findAllTemas()'>
                        <option *ngFor='let item of listaTema' value="{{item.id}}">{{item.nomeTema}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input [(ngModel)]='postagem.titulo' name="titulo" type="text" class="form-control" id="titulo"
                        placeholder="Digite o titulo">
                </div>

                <div class="form-group">
                    <label for="media">Foto Ilustrativa</label>
                    <input [(ngModel)]='postagem.midia' name="media" type="text" class="form-control" id="media"
                      placeholder="Insira o link da imagem">
                  </div>

                <div class="form-group">
                    <label for="texto">Subtitulo</label>
                    <textarea [(ngModel)]='postagem.descricao' class="form-control" name="descricao" id="texto"
                        rows="1"></textarea>
                </div>

                <div class="form-group">
                    <label for="texto">Publicação</label>
                    <textarea [(ngModel)]='postagem.publicacao' class="form-control" name="publicacao" id="texto"
                        rows="16"></textarea>
                </div>

            </div>

            <div class="d-flex justify-content-center">

                <button type="button" class="btn bg-danger text-white my-buttom-custom mr-4 mb-5"
                    routerLink='/feed'>Cancelar</button>
                <button type="button" class="btn bg-success text-white my-buttom-custom mb-5"
                    (click)='atualizar()'>Atualizar</button>


            </div>


        </div>
    </div>
</div>