<div class="container-fluid pt-3 pb-3">
  <div class="row d-flex justify-content-center">

    <div class="col-md-3">
      <div class="card mt-1 border-0 position-fixed" style="height: 27.5rem;">
        <div class="card-body">

          <img src="http://source.unsplash.com/70x70/?black" alt="..." class="img-fluid rounded-circle my-po">
          <h6 class="text-center">Leandro Santos</h6>

        </div>
      </div>
    </div>
    <!--col-->

    <div class="col-md-8">
      <div class="card m-1 border-0">
        <div class="card-body p-5">

          <div class="d-flex">
            <img src="http://source.unsplash.com/55x55/?orange" alt="..." class="img-fluid rounded-circle">
            <h6 class="ml-2">
              <span class="font-weight-bold">Leandro Santos</span>
              <span class="ml-2 text-gray">Organização Mundial</span>
            </h6>

            <div class="d-flex ml-auto">
              <h6>00:00</h6>
              <h6 class="ml-4">00/00/0000</h6>
            </div>
          </div>

          <div class="d-flex align-items-end flex-column">
            <h1 class="card-title">Titulo da postagem</h1>
            <h4 class="card-title">Subtitulo da postagem</h4>
          </div>

          <img src="http://source.unsplash.com/750x350/?blue" alt="..." class="img-fluid rounded mx-auto d-block mt-2">
          <p class="card-text mt-4 ml-3 mp">
            <span>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro culpa dolores officia voluptates
              obcaecati saepe doloremque at voluptatum dignissimos vel explicabo fugit eligendi, ullam cum quod
              molestias
              velit assumenda?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro culpa dolores
              officia voluptates
              obcaecati saepe doloremque at voluptatum dignissimos vel explicabo fugit eligendi, ullam cum quod
              molestias
              velit assumenda?
            </span>
            <span>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro culpa dolores officia voluptates
              obcaecati saepe doloremque at voluptatum dignissimos vel explicabo fugit eligendi, ullam cum quod
              molestias
              velit assumenda?
            </span>
            <span>
              <!--o strong é um teste de negrito || retirar depois-->
              <strong>Lorem</strong>, ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro culpa dolores
              officia voluptates
              obcaecati saepe doloremque at voluptatum dignissimos vel explicabo fugit eligendi, ullam cum quod
              molestias
              velit assumenda?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro culpa dolores
              officia voluptates
              obcaecati saepe doloremque at voluptatum dignissimos vel explicabo fugit eligendi, ullam cum quod
              molestias
              velit assumenda?
            </span>
            <span>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, porro culpa dolores officia voluptates
              obcaecati saepe doloremque at voluptatum dignissimos vel explicabo fugit eligendi, ullam cum quod
              molestias
              velit assumenda?
            </span>
          </p>

          <div class="d-flex mb-3">
            <p>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              Curtidas
            </p>
            <p class="ml-4">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              Comentarios
            </p>
          </div>

          <div class="row">

            <div class="col-md-2 p-0">
              <img src="http://source.unsplash.com/60x60/?orange" alt="..." class="img-fluid rounded-circle ml-5">
            </div>

            <div class="col-md-9 p-0">

              <div class="card my-bg border-0">
                <div class="card-body">

                  <div class="d-flex">
                    <p class="mr-auto">Lucas Silva</p>
                    <p>00:00</p>
                    <p class="ml-4">00/00/0000</p>
                  </div>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida quis diam lorem erat. Feugiat posuere
                    arcu posuere sit nisl.
                  </p>

                </div>
              </div>

            </div>

          </div>

        </div>
        <!--card body-->
      </div>
      <!--card-->
    </div>
    <!--col-->

  </div>
</div>
