<div class="container-fluid pt-3 pb-3">
  <div class="row d-flex justify-content-center">

    <!--Card Informativo-->
    <div class="col-md-2">

      <div class="row">
        <div class="col-md-12">
          <div class="card mb-2">

            <div class="card-body">

              <img src={{user.foto}} alt="Foto do autor" alt="foto perfil" class="rounded mx-auto d-block img-fluid"
                width="100rem">

              <h5 class="card-title text-center">{{user.nome}}</h5>
              <h6 class="card-subtitle mb-2 text-muted text-center">{{user.descricao}}</h6>
              <p class="card-text text-center">{{user.bio}}</p>

            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="card mb-2">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <a class="mr-1" [routerLink]="['/feed']">Minhas Postagens</a>
              <a class="mr-1" [routerLink]="['/configuracao']">Configuração da conta</a>
              <a class="mr-1" (click)='sair()' href="#">Sair</a>
            </div>
          </div>

        </div>
      </div>
      <!--row-->

    </div>
    <!--/Card Informativo-->
    <!--col-->

    <div class="col-md-8">
      <div class="card m-1 border-0">
        <div class="card-body p-5">

          <div class="d-flex">
            <img src={{postagem.usuario.foto}} alt="..." class="img-fluid rounded-circle " width="50rem">
            <h6 class="ml-2">
              <span class="font-weight-bold">{{postagem.usuario.nome}}</span>
              <span class="ml-2 text-gray">{{postagem.usuario.descricao}}</span>
            </h6>

            <div class="d-flex ml-auto">
              <p class="mb-1">{{postagem.data | date: 'dd/MM/yyyy'}}</p>
            </div>
          </div>

          <div class="d-flex align-items-end flex-column">
            <h1 class="card-title">{{postagem.titulo}}</h1>
            <h4 class="card-title">{{postagem.descricao}}</h4>
          </div>

          <img src={{postagem.midia}} alt="..." class="img-fluid rounded mx-auto d-block mt-2">
          <p class="card-text mt-4 ml-3 mp">
            {{postagem.publicacao}}
          </p>

          <!-- <div class="d-flex mb-3">
            <p>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              Curtidas
            </p>
            <p class="ml-4">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              Comentarios
            </p>
          </div> -->

          <!-- <div class="row">

            <div class="col-md-2 p-0">
              <img src="http://source.unsplash.com/60x60/?orange" alt="..." class="img-fluid rounded-circle ml-5">
            </div>

            <div class="col-md-9 p-0">

              <div class="card my-bg border-0">
                <div class="card-body">

                  <div class="d-flex">
                    <p class="mr-auto">Lucas Silva</p>
                    <p>00:00</p>
                    <p class="ml-4">00/00/0000</p>
                  </div>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida quis diam lorem erat. Feugiat
                    posuere
                    arcu posuere sit nisl.
                  </p>

                </div>
              </div>

            </div>

          </div> -->

        </div>
        <!--card body-->
      </div>
      <!--card-->
    </div>
    <!--col-->

  </div>
</div>