<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-12 p-5" id="sobre-nos">
  
        <h4 class="text-yellow">Sobre a KD</h4>
        <h3 class="ml-5">Como trabalhamos</h3>
  
        <div class="d-flex justify-content-center justify-content-evenly">
  
          <div class="card border-0" style="width: 20rem;">
            <img class="img-fluid" src="https://i.imgur.com/W150dlP.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus fugiat magnam minima obcaecati, deleniti
                exercitationem, nobis nam sed sunt quae reiciendis expedita? Quis voluptate sequi eveniet magnam
                cupiditate
                saepe ullam!
              </p>
            </div>
          </div>
  
          <div class="card border-0" style="width: 20rem;">
            <img class="img-fluid" src="https://i.imgur.com/U1jj0QP.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus fugiat magnam minima obcaecati, deleniti
                exercitationem, nobis nam sed sunt quae reiciendis expedita? Quis voluptate sequi eveniet magnam
                cupiditate
                saepe ullam!
              </p>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
    <!--row-->
  
    <div class="row mb-4">
      <div class="col-md-12">
  
        <div class="d-flex justify-content-center justify-content-evenly mt-4">
  
          <div class="card border-0" style="width: 20rem;">
            <img class="img-fluid" src="https://i.imgur.com/zbIZABZ.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text p-0">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus fugiat magnam minima obcaecati, deleniti
                exercitationem, nobis nam sed sunt quae reiciendis expedita? Quis voluptate sequi eveniet magnam
                cupiditate
                saepe ullam!
              </p>
            </div>
          </div>
  
          <div class="card border-0" style="width: 20rem;">
            <img class="img-fluid" src="https://i.imgur.com/whBKgAt.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text p-0">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus fugiat magnam minima obcaecati, deleniti
                exercitationem, nobis nam sed sunt quae reiciendis expedita? Quis voluptate sequi eveniet magnam
                cupiditate
                saepe ullam!
              </p>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
    <!--row-->
  
    <div class="row mb-5">
      <div class="col-md-6 p-5 bg-blue">
        <p class="text-yellow">Titulo pequeno</p>
        <h1 class="ml-5 text-white font-weight-bold">Titulo grande</h1>
  
        <div class="row">
          <div class="col-md-12 p-5">
            <h6 class="text-white ml-5 mr-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci et laboriosam dicta ex esse. At nostrum
              blanditiis, illo libero sit tempore maxime eveniet, nisi quos consequuntur nesciunt veritatis, eaque
              maiores?
            </h6>
  
            <div class="d-flex flex-column mt-5 ml-5">
              <a href="#">Link para algo</a>
              <a href="#">Link para algo</a>
              <a href="#">Link para algo</a>
            </div>
  
          </div>
        </div>
  
      </div>
      <!--col-->
  
      <div class="col-md-6 bg-img">
        <img src="http://source.unsplash.com/240x150/?white" alt="..." class=" img-fluid po-re">
      </div>
      <!--col-->
  
    </div>
    <!--row-->
  
    <div class="row mt-1">
      <div class="col-md-12" id="equipe">
        <h2 class="text-center font-weight-bold h1">Equipe de Desenvolvimento</h2>
  
        <div class="row">
          <div class="col-md-12">
  
            <div class="d-flex justify-content-evenly mt-2">
  
              <div class="card border-0" style="width: 15rem; height: 18rem;">
                <div class="card-body">
                  <img src="https://i.imgur.com/XLFbvyu.jpg" alt="..."
                    class="img-fluid rounded mx-auto d-block">
                  <p class="text-center mt-3">
                    <span class="font-weight-bold">João Junior</span>
                    <span class="text-gray">Scrum Master</span>
                  </p>
                </div>
              </div>
  
              <div class="card border-0" style="width: 15rem; height: 18rem;">
                <div class="card-body">
                  <img src="https://i.imgur.com/kpuzGps.jpg" alt="..."
                    class="img-fluid rounded mx-auto d-block">
                  <p class="text-center mt-3">
                    <span class="font-weight-bold">Mayara Gomes</span>
                    <span class="text-gray">Product Owner</span>
                  </p>
                </div>
              </div>
  
            </div>
  
          </div>
        </div>
        <!--row-->
  
        <div class="row">
          <div class="d-flex justify-content-evenly mt-2 mb-5">
  
            <div class="card border-0" style="width: 15rem; height: 18rem;">
              <div class="card-body">
                <img src="https://i.imgur.com/mFuKDWc.jpg" alt="..." class="img-fluid rounded mx-auto d-block">
                <p class="text-center mt-3">
                  <span class="font-weight-bold">Thiago Mendes</span>
                  <span class="text-gray">Desenvolvedor</span>
                </p>
              </div>
            </div>
  
            <div class="card border-0" style="width: 15rem; height: 18rem;">
              <div class="card-body">
                <img src="https://i.imgur.com/mHJhR6s.jpg" alt="..." class="img-fluid rounded mx-auto d-block">
                <p class="text-center mt-3">
                  <span class="font-weight-bold">Ana Patrícia</span>
                  <span class="text-gray">Deselvolvedora</span>
                </p>
              </div>
            </div>
  
            <div class="card border-0" style="width: 15rem; height: 18rem;">
              <div class="card-body">
                <img src="https://i.imgur.com/pqQHAbU.jpg" alt="..." class="img-fluid rounded mx-auto d-block">
                <p class="text-center mt-3">
                  <span class="font-weight-bold">Rhoger Miranda</span>
                  <span class="text-gray">Desenvolvedor</span>
                </p>
              </div>
            </div>
  
          </div>
        </div>
        <!--row-->
  
      </div>
    </div>
    <!--row-->
  
  </div>