.text-yellow{
  color: #D89E0A;
}

.text{

  color: #1A3761;
}

.bg-blue{
  background-color: #17223A;
}

.bg-img{
  background-image: url('https://i.imgur.com/esLLzpE.png%27');
  background-size: cover;
  background-repeat: no-repeat;
}

.site{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.text-site{
  text-decoration: none;
  color: #D89E0A;
  font-size: 1.1rem;
  font-weight: bold;
}

.po-re{
  position: relative;
  top: 18rem;
  left: -5rem;
}

p span{
  display: block;
}

.border{
   border-radius: 10px;
}
