.container-fluid{
  scroll-margin-top: 100px;
}

.bg-meioAzul{
  background-image: url('https://i.imgur.com/2dYu2Mx.png%27');
  background-size: cover;
}

.po-1{
  position: absolute;
  top: 30rem;
}

h1{
  font-size: 4rem;
  font-weight: bold;
  margin-left: 2rem;
}

p{
  margin-left: 2rem;
}

.imgBemVindo{
  box-shadow: 0 0 .1em gray;
  border-radius: 10px;
  background-color:#EDF0F4;
}

img{
  box-shadow: 0 0 .1em black;
  border-radius: 10px;

}
